html {
  background-image: url(./images/lib.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding: 50px;
  text-align: center;
}

#library-title {
  font-weight: bolder;
  font-size: 50px;
  color: #573a0e;
  text-shadow: 3px 3px #778891;
  text-decoration-line: underline;
  text-decoration-color: #643030;
  text-overflow: clip;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.book {
  background-image: url(./images/cover.jpg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: thin solid grey;
  height: 250px;
  width: 200px;
  flex-shrink: 1;
  overflow: auto;
}

.info-box {
  gap: 10px;
  display: flex;
  width: 200px;
  height: 20px;
  flex: auto;
  justify-content: space-between;
  align-content: space-between;
}

.info-title {
  font-size: 17px;
  font-weight: bolder;
  color: #5bb325;
}

.info {
  text-align: center;
}

.read {
  border: thin solid rgb(44, 224, 44);
}

p {
  word-break: break-all;
  padding-top: 3px;
  margin: 0;
  overflow-wrap: normal;
  overflow: hidden;
  color: hsl(186 100% 100% / 1);
  font-weight: bolder;
}

.input {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  max-width: 250px;
}

#add-book-label {
  color: #00ceff;
  font-weight: bolder;
  text-shadow: 2px 2px blue;
}

.read-text {
  color: rgb(229, 255, 0);
}

.selected {
  border: thick solid gold;
}

.input-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
